.header {
    z-index: 0;
    height: 100vh;
    min-height: 500px;
    position: relative;

    background-image: url("../images/main-page/header-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &__title {
        padding-top: 50px;
        color: $black;
        font-size: $main-title-mb;
        font-family: "Amatic-SC", sans-serif;
        text-align: center;
    }
    &__arrow {
        z-index: -1;
        width: 100%;
        height: 80%;
        position: absolute; top: 0;

        background-image: url("../images/main-page/header-arrow/header-arrow-mb.svg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    &__wave {
        width: 100%;
        height: 320px;
        position: absolute; bottom: 0;

        background-image: url("../images/main-page/header-wave.svg");
        background-position: bottom center;
        background-size: 900px auto;
        background-repeat: repeat-x;
    }
}


@media (min-width: $width-mb) {
    .header {
        &__arrow {
            background-image: url("../images/main-page/header-arrow/header-arrow-tb.svg");
        }
    }
}

@media (min-width: $width-tb) {
    .header {
        &__title {
            font-size: $main-title-tb;
        }
    }
}

@media (min-width: $width-pc) {
    .header {
        &__title {
            font-size: $main-title-pc;
        }
        &__arrow {
            background-image: url("../images/main-page/header-arrow/header-arrow-pc.svg");
        }
        &__wave {
            background-size: 600px auto;
        }
    }
}