// colors
$black: #263234;
$white: #ffffff;
// font size mobile
$main-title-mb: 135px;
$title-mb: 26px;
$subtitle-mb: 24px;
$text-mb: 20px;
$description-mb: 18px;
// font size tablet
$main-title-tb: 155px;
$title-tb: 30px;
$subtitle-tb: 28px;
$text-tb: 24px;
$description-tb: 22px;
// font size pc
$main-title-pc: 235px;
$title-pc: 32px;
$subtitle-pc: 30px;
$text-pc: 26px;
$description-pc: 22px;
// media width
$width-mb: 320px;
$max-width-mb: 767px;
$width-tb: 768px;
$width-pc: 1024px;
// content width
$min-content-width: 320px;
$max-content-width: 1280px;
$content-width-mb: 280px;
$content-width-tb: 608px;
$content-width-pc: 960px;