@font-face {
  font-family: "Amatic-SC";
  src: url("../fonts/AmaticSC/AmaticSC-Bold.woff2") format("woff2"), url("../fonts/AmaticSC/AmaticSC-Bold.woff") format("woff");
  font-weight: 400;
  font-style: bold;
  font-display: swap;
}
@font-face {
  font-family: "Nunion Bold";
  src: url("../fonts/Nunion/Nunito-Bold.woff2") format("woff2"), url("../fonts/Nunion/Nunito-Bold.woff") format("woff");
  font-weight: 400;
  font-style: bold;
  font-display: swap;
}
@font-face {
  font-family: "Nunion Regular";
  src: url("../fonts/Nunion/Nunito-Regular.woff2") format("woff2"), url("../fonts/Nunion/Nunito-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  min-width: 320px;
  color: #ffffff;
  font-size: 20px;
  font-family: "Nunion Regular", sans-serif;
  background-color: #263234;
  margin: auto;
}

@media (min-width: 768px) {
  body {
    font-size: 24px;
  }
}
@media (min-width: 1024px) {
  body {
    font-size: 26px;
  }
}
.footer {
  height: 50px;
  margin-top: 50px;
  color: #A5A5A5;
  font-size: 14px;
  background-color: #1F1F1F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__link {
  color: #A5A5A5;
  text-decoration: underline;
}

.header {
  position: sticky;
  top: 0;
  background-image: url("../images/main-page/header-bg.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.header__blur {
  background-color: rgba(100, 100, 100, 0.4);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.header__wrapper {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #263234;
}
.header__logo {
  margin: auto 0;
  color: #263234;
  font-size: 35px;
  font-family: "Amatic-SC", sans-serif;
}
.header__btn {
  display: none;
  margin: auto 0;
  width: 29px;
  height: 21px;
  background-color: transparent;
  border: none;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.header__btn span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #263234;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.header .header__btn span:nth-child(1) {
  top: 0;
}
.header .header__btn span:nth-child(2),
.header .header__btn span:nth-child(3) {
  top: 8px;
}
.header .header__btn span:nth-child(4) {
  top: 16px;
}
.header .header__btn--opened span:nth-child(1) {
  top: 16px;
  width: 0%;
  left: 50%;
}
.header .header__btn--opened span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header .header__btn--opened span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.header .header__btn--opened span:nth-child(4) {
  top: 16px;
  width: 0%;
  left: 50%;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  margin-left: 20px;
  max-height: 50vh;
  -webkit-transition: max-height 0.2s;
  transition: max-height 0.2s;
  -webkit-transition-duration: cubic-bezier(0.6, -0.28, 0.74, 0.05);
          transition-duration: cubic-bezier(0.6, -0.28, 0.74, 0.05);
}
.nav__title {
  margin-top: 20px;
}
.nav__links {
  height: 100%;
  margin-top: 10px;
  padding-bottom: 20px;
  overflow-y: auto;
}
.nav__link {
  display: inline-block;
  position: relative;
  margin-right: 10px;
  margin-bottom: 20px;
  color: aqua;
  font-size: 24px;
}
.nav__link:target {
  color: #000000;
}
.nav__links li:last-child a {
  margin-bottom: 0;
}

:target .nav__link {
  color: #000000;
}

.nav__links::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.nav__links::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

.nav__links::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
}

.nav__links::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

.nav__links::-webkit-scrollbar-thumb:active {
  background: #000000;
}

.nav__links::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
}

.nav__links::-webkit-scrollbar-track:hover {
  background: #666666;
}

.nav__links::-webkit-scrollbar-track:active {
  background: #333333;
}

.nav__links::-webkit-scrollbar-corner {
  background: transparent;
}

@media (max-width: 767px) {
  .nav--hidden {
    max-height: 0;
    margin-top: 0;
  }

  .header__btn {
    display: block;
  }
}
@media (min-width: 768px) {
  .header {
    float: left;
    height: 100vh;
    width: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__wrapper {
    height: auto;
    margin-bottom: 35px;
    border-bottom: unset;
  }
  .header__logo {
    padding-top: 25px;
    color: #263234;
    font-size: 90px;
    text-align: center;
  }

  .nav {
    max-height: unset;
  }
  .nav__link::before {
    content: "";
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
    position: absolute;
    bottom: -5px;
    background-color: aqua;
    height: 2px;
    width: 0;
  }
  .nav__link:hover::before {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .header {
    width: 350px;
  }
  .header__logo {
    font-size: 135px;
  }
}
main {
  min-height: 100vh;
  padding: 30px 20px 0 20px;
}

main h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
  margin-top: 15px;
  font-family: "Nunion Bold", sans-serif;
}

main h1, h2 {
  padding-bottom: 10px;
}

main h1 {
  font-size: 26px;
  margin-top: 100px;
  text-align: center;
  border-bottom: 4px solid #5a5a5a;
}

main h2 {
  margin-top: 50px;
  font-size: 24px;
  border-bottom: 1px solid #ffffff80;
}

main h2:last-of-type {
  margin-top: unset;
}

main h1:first-child {
  margin-top: 0;
}

main h1.noStyle {
  border: unset;
  font-size: x-large;
}

main p {
  margin: 15px 0;
  line-height: 1.2;
}

main ul, ol {
  margin-bottom: 15px;
}

main ul, ol li {
  padding-bottom: 15px;
  list-style-position: inside;
}

main ul li {
  list-style: disc;
}

main ul li:last-child {
  padding-bottom: 0;
}

main hr {
  height: 4px;
  background-color: #5a5a5a;
}

main a {
  color: #8d25ee;
  text-decoration: underline;
}

main img {
  width: 100%;
  margin: 25px 0;
}

@media (min-width: 768px) {
  main, footer {
    margin-left: auto;
    width: calc(100% - 250px);
  }

  main {
    padding: 40px 30px 0 30px;
  }
}
@media (min-width: 1024px) {
  main, footer {
    width: calc(100% - 350px);
  }

  main {
    padding: 50px 55px 0 55px;
  }

  main img {
    width: 50%;
  }
}
.scroll-to-top {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 15px;
  bottom: 15px;
  cursor: pointer;
  opacity: 0;
  background-color: #464646;
  background-image: url("../images/food-page/upload.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}