.header {
    position: sticky; top: 0;

    background-image: url("../images/card-page/header-bg.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;

    &__wrapper {
        width: 100%;
        height: 50px;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid $black;
    }
    &__logo {
        margin: auto 0;
        color: $black;
        font-size: 35px;
        font-family: "Amatic-SC", sans-serif;
    }
    &__btn {
        display: none;
        margin: auto 0;
        width: 29px;
        height: 21px;
        background-color: transparent;
        border: none;
        transform: rotate(0deg);
        transition: 0.5s ease-in-out;
    }
    &__btn span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: $black;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;
    }
    .header__btn span:nth-child(1) {
        top: 0;
    }
    
    .header__btn span:nth-child(2),
    .header__btn span:nth-child(3) {
        top: 8px;
    }
    
    .header__btn span:nth-child(4) {
        top: 16px;
    }
    
    .header__btn--opened span:nth-child(1) {
        top: 16px;
        width: 0%;
        left: 50%;
    }
    
    .header__btn--opened span:nth-child(2) {
        transform: rotate(45deg);
    }
    
    .header__btn--opened span:nth-child(3) {
        transform: rotate(-45deg);
    }
    
    .header__btn--opened span:nth-child(4) {
        top: 16px;
        width: 0%;
        left: 50%;
    }
}

.nav {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-left: 20px;
    max-height: 50vh;
    transition: max-height 0.2s;
    transition-duration: cubic-bezier(0.6, -0.28, 0.74, 0.05);

    &__title {
        margin-top: 20px;
    }
    &__links {
        height: 100%;
        margin-top: 10px;
        padding-bottom: 20px;
        overflow-y: auto;
    }
    &__link {
        display: inline-block;
        position: relative;
        margin-right: 10px;
        margin-bottom: 20px;
        color: aqua;
        font-size: $subtitle-mb;
    }
    &__link:target {color: #000000;}
    &__links li:last-child a {
        margin-bottom: 0;
    }
}
:target .nav__link {
    color: #000000;
}
.nav__links::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
.nav__links::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
.nav__links::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    //   border-radius: 50px;
}
.nav__links::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}
.nav__links::-webkit-scrollbar-thumb:active {
    background: #000000;
}
.nav__links::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    //   border-radius: 50px;
}
.nav__links::-webkit-scrollbar-track:hover {
    background: #666666;
}
.nav__links::-webkit-scrollbar-track:active {
    background: #333333;
}
.nav__links::-webkit-scrollbar-corner {
    background: transparent;
}



@media (max-width: $max-width-mb) {
    .nav--hidden {
        max-height: 0;
        margin-top: 0;
    }
    .header__btn { display: block; }
}

@media (min-width: $width-tb) {
    .header {
        float: left;
        height: 100vh;
        width: 250px;

        display: flex;
        flex-direction: column;

        &__wrapper {
            height: auto;
            margin-bottom: 35px;
            border-bottom: unset;
        }
        &__logo {
            padding-top: 25px;
            color: $black;
            font-size: 90px;
            text-align: center;
        }
    }

    .nav {
        max-height: unset;

        &__link::before {
            content: '';
            transition: width 0.5s;
            position: absolute; bottom: -5px;
            background-color: aqua;
            height: 2px;
            width: 0;
        }
        &__link:hover::before {
            width: 100%;
        }
    }
}

@media (min-width: $width-pc) {
    .header {
        width: 350px;
        
        &__logo { font-size: $main-title-mb; }
    }
}